---
---

/* Other CSS rules */
.icon-search {
  height: 5rem;
  width: 5rem;
  background-image: url( "{{ site.baseurl }}/assets/icons/svg/zoom.svg" );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.icon-paperclip {
  height: 5rem;
  width: 5rem;
  background-image: url( "{{ site.baseurl }}/assets/icons/svg/clip.svg" );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.icon-book {
  height: 5rem;
  width: 5rem;
  background-image: url( "{{ site.baseurl }}/assets/icons/svg/book.svg" );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.icon-thumbsup {
  height: 5rem;
  width: 5rem;
  background-image: url( "{{ site.baseurl }}/assets/icons/svg/thumbs_up.svg" );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.icon-thumbsdown {
  height: 5rem;
  width: 5rem;
  background-image: url( "{{ site.baseurl }}/assets/icons/svg/thumbs_down.svg" );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.icon-lightbulb {
  height: 5rem;
  width: 5rem;
  background-image: url( "{{ site.baseurl }}/assets/icons/svg/lightbulb_idea.svg" );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.icon-monitor {
  height: 5rem;
  width: 5rem;
  background-image: url( "{{ site.baseurl }}/assets/icons/svg/monitor.svg" );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.icon-laptop {
  height: 5rem;
  width: 5rem;
  background-image: url( "{{ site.baseurl }}/assets/icons/svg/laptop.svg" );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.icon-clip-container {
  height: 5rem;
  width: 5rem;
  background-image: url( "{{ site.baseurl }}/assets/icons/svg/clip.svg" );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
