nav {
  background-color: none;
  opacity: 1;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: .4s ease;
  height: 3rem;

  &.toggle-nav-background {
    background-color: black;
  }


  ul {
    position: fixed;
    background-color: none;
    list-style: none;
    opacity: 0;
    transition: opacity .2s ease;
    z-index: 10;

    &.toggle-icons {
      visibility: visible;
      opacity: 1;
    }

    li {
      display: inline;
      color: blue;
    }
  }

  #search-button {

  }

  #menu-button {

  }

  #search-form {
    position: relative;
    margin: 0 auto;
    width: 66%;
    background-color: none;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;

    &.toggle-search-form {
      opacity: 1;
      visibility: visible;
    }

    input {
      border: none;
      outline: none;
    }
  }
}
