nav {
  background-color: none;
  opacity: 1;
  position: fixed;
  width: 100%;
  z-index: 2;


  ul {
    position: fixed;
    background-color: blue;
    list-style: none;
    opacity: 1;
    transition: opacity .2s ease;

    &.toggle-icons {
      visibility: visible;
      opacity: 1;
    }

    li {
      display: inline;
    }
  }

  #search {

  }

  #menu-button {

  }
}
