

.container {
 max-width: 100%;
 background: none;
}



#content-section {
  position: relative;
}

.toggle-content {
  // display: none;
}

.main-content {
  margin: 2rem auto 0 auto;
  max-width: 67.777777%;
  transition: max-width .1s ease-in;

  @media(max-width: 1100px) {
    max-width: 89%;
  }
}
