@import "../utils/base_colors";

#menu {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  background-color: $nw-blue;
  width: 100%;
  height: 100%;
  top: 0rem;
  overflow: visible;
  overflow-y: scroll;
  z-index: 4;
  transition: opacity, visibility .5s ease;

  &.show-menu {
    visibility: visible;
    opacity: 1;
  }

  &::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }
  /* optional: show position indicator in red */
  &::-webkit-scrollbar-thumb {
      // background: #FF0000;
  }
}



#menu-columns {
  position: relative;
  top: 4rem;
  background-color: $nw-blue;



  section {
    @media(max-width: 900px) {
      width: 50%;
    }

    @media(max-width: 500px) {
      width: 100%;
      border-bottom: 2px solid white;
    }
  }

  ul {
    list-style: none;
    text-align: left;
  }

  a {
    color: white;
    text-decoration: none;
    overflow-wrap: break-word;

    &:hover {
      color: darken(white, 10%);
    }

    &:first-child {
      font-weight: 900;
    }

    li {
      background-color: $nw-blue;
      transition: background-color .2s ease;
      padding: 1.25rem 1.55rem;
      border-left: 5px solid $nw-blue;
      font-weight: 400;
      overflow-wrap: break-word;

      @media(max-width: 900px) {
        padding: 1.25rem .55rem;
      }

      &:hover {
        background-color: lighten($nw-blue, 10%);
        border-left: 5px solid white;
      }
    }
  }

  .link-top-header {
    font-weight: 900;
  }
}

.sub-menu {
  @media(max-width: 500px) {
    height: 0;
  }
}

.toggle-sub-menu {
  height: 100%;
}
