@import "../utils/base_colors";

#menu {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  background-color: $nw-blue;
  width: 100%;
  height: 100%;
  top: 0rem;
  overflow: visible;
  overflow-y: scroll;
  z-index: 4;
  transition: .5s ease;

  &.show-menu {
    visibility: visible;
    opacity: 1;
  }

  &::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }
  /* optional: show position indicator in red */
  &::-webkit-scrollbar-thumb {
      // background: #FF0000;
  }
}



#menu-columns {
  position: relative;
  top: 4rem;
  background-color: $nw-blue;

  section {
    @media(max-width: 500px) {
      width: 100%;
    }
  }

  ul {
    list-style: none;
    text-align: left;
    // padding: .75rem;
  }

  li {
    background-color: $nw-blue;
    transition: .2s ease;
    padding: .55rem;
    border-left: 5px solid $nw-blue;
    font-weight: 400;

    &:hover {
      background-color: lighten($nw-blue, 10%);
      border-left: 5px solid white;
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: darken(white, 10%);
      }
    }
  }

  .link-top-header {
    font-weight: 900;
  }
}

.sub-menu {
  @media(max-width: 500px) {
    height: 0;
  }
}

.toggle-sub-menu {
  height: 100%;
}
