@import "../utils/base_colors";

.nav-full-width {
  width: 100%;
}

nav {
  background-color: none;
  opacity: 1;
  position: fixed;
  width: 6rem;
  z-index: 10;
  transition: background-color .4s ease;
  height: 3rem;

  &.toggle-nav-background {
    width: 100%;
  }

  ul {
    position: fixed;
    background-color: none;
    list-style: none;
    opacity: 0;
    transition: opacity .2s ease;
    z-index: 10;
    width: 6rem;
    padding: .3rem;

    &.toggle-icons {
      visibility: visible;
      opacity: 1;
    }

    li {
      color: blue;
      float: left;
    }

    button {
      outline: none;
    }

  }

  #search-button {

  }

  #menu-button {
    position: relative;
  }

  #search-form {
    position: relative;
    margin: 0 auto;
    background-color: none;
    opacity: 0;
    top: -5rem;
    height: 3rem;
    transition: opacity .2s ease;
    width: 100%;

    &.toggle-search-form {
      background-color: $nw-blue;
      opacity: 1;
      top: 0;
    }

    input {
      border: none;
      transition: border 0.3s, opacity .3s;
      font-size: 1.78rem;
      outline: none;
      color: white;
      position: relative;
      top: .4rem;
      width: 69%;
      display: block;
      margin: 0 auto;
      background: none;
      font-family: 'Roboto Condensed', sans-serif;

      &:-webkit-autofill {
        background: none;
      }

      &:input:-webkit-autofill {
        background-color: none;
      }
    }

    #search-close-button {

    }

    .search-results-button {
      padding: .3rem;
      border: none;
      outline: none;
      font-weight: bold;
      font-size: 1rem;
      color: black;//$nw-blue;
      transition: color .2s ease-in;
      transition: background-color .2s ease-in;
      position: fixed;
      top: .45rem;
      right: 4rem;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: white;//#bdbdbd;//#f7f7f7;//#e4e4e4;
      opacity: 0;

      &:hover {
        // color: gray;
        background-color: #c1c1c1;//#c7c7c7;
      }
    }

    .toggle-search-results {
      opacity: 1;
    }
  }
}

#tipue_search_input::after {

}

// Animated search icons
.search-icon {
  background-color: none;
  height: 2.8em;
  width: 2.8em;
  display:block;
  padding: 0.5em;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}
.circle {
  position: relative;
  display: block;
  height: 20px;
  width: 20px;
  background-color: none;
  border-radius: 70px;
  z-index: 0;
  border: 3px solid black;
  transition: all 0.6s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: 1;
  left: 10px;
  top: 5px;
}

.handle {
  position: absolute;
  background-color: black;
  top: 44px;
  left: 36px;
  width: 26px;
  height: 4px;
  display: block;
  transform: rotate(45deg);
  float: right;
  border-radius: 2px;
  transition: all 0.6s cubic-bezier(0.25, 1.7, 0.35, 0.8);
}

.open {
  .circle {
    background: $nw-blue;
    border-color: white;
  }
  .handle {
    background-color: white;
  }
  .handle:after {
    background: white;
  }
}


.white-handle {
  background: white;
}

.white-circle {
  border-color: white;
}
