@import "../utils/base_colors";

.container {
 max-width: 100%;
 background: none;
}

#content-section {
  position: relative;
}

.toggle-content {
  display: none;
}

.main-content {
  margin: 3rem auto 0 auto;
  max-width: 67.777777%;

  @media(max-width: 1100px) {
    max-width: 89%;
  }
}


ul, ol {
  padding: 1rem 0;
  list-style-position: outside;

  li {
    line-height: 2rem;
  }

}
