@import "../utils/base_colors";

#search-section {
  z-index: 3;
}

.search-results {
  background-color: none;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  transition: .2s ease;
}

.toggle-results {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0rem;
  overflow: scroll;
  z-index: 4;
  background-color: white; //#ccdcf1;
  opacity: 1;
  visibility: visible;
  transition: .1s ease;
}

#tipue_search_content {

}
