<section id="menu-columns">
  <section class="col-1-4">
    <ul>
      <li>
        <a href="{{site.baseurl}}/">Home</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/onboarding">Onboarding</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/contacts-teams">Contacts/Teams</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/glossary/home">Glossary</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/projects/home">Projects</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/products/home">Products</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/transactions/home">Transactions</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/requirements/home">Requirements</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/development/home">Development</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/testing/home">Testing</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/style-guide">Wiki Guide</a>
      </li>

    </ul>
  </section>

  <section class="col-1-4">
    <ul>
      <li>
        <a href="#">Fonts</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/typeouts/roboto.html">Roboto</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/typeouts/nunito.html">Nunito</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/typeouts/nunito-sans.html">Nunito Sans</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/typeouts/open-sans.html">Open Sans</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/typeouts/source-pro-sans.html">Source Pro Sans</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/typeouts/rubik.html">Rubik</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/typeouts/libre-franklin.html">Libre Franklin</a>
      </li>
    </ul>
  </section>

  <section class="col-1-4">
    <ul>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
    </ul>
  </section>

  <section class="col-1-4">
    <ul>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
      <li>
        <a href="#">Page 1</a>
      </li>
    </ul>
  </section>
</section>
