<nav id="nav">
  <ul id="nav-icons">
    <li id="search-button">
      <a class="search-icon">
        <span class="circle"></span>
        <span class="handle"></span>
      </a>
    </li>
    <li id="menu-button">
      <button class="hamburger hamburger--vortex" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    </li>
  </ul>
  <form id="search-form" action="" method="">
    <input id="tipue_search_input" type="text" pattern=".{3,}" title="At least 3 characters" required placeholder="search">
  </form>
</nav>
