<script src="{{ "/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
<script src="{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
<script src="{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
<script src="{{ "/js/jquery-scroll-lock.min.js" | relative_url }}"></script>

<script type="text/javascript">

  $(document).ready(function() {
    $('#tipue_search_input').tipuesearch();
    // $('#search-section').scrollLock();
  });

</script>

<script type="text/javascript" src="{{site.baseurl}}/js/nav.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/menu.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/search.js"></script>
