// colors
$nw-blue: #1E57A6;// web: #1C57A5;
$light-blue: #ccdcf1;


// buttons
$orange: #ef7410;
$red: #ea1313;
$green: #1ead2e;


// font colors
$primary: #333333;
$primary-hover: #222222;

$secondary: #838C91;
$secondary-hover: #676D70;

// links
$black: black;
$link: blue;
$link-hover: blue;
$link-visited: blue;

// paragraph links
$inline-link: $primary;
$inline-link-hover: $primary-hover;
$inline-link-visited: $primary;


// background Colors

$light-gray: #e6e6e6;
