@media print {

  html, .root {
    font-size: 16px;
    line-height: 23px;
  }

  body, .article {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6521739rem;
  }

  .main-content {
    width: 100%;
  }
}
