:root {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: calc( 21px + (28 - 21) * ( (100vw - 600px) / ( 1300 - 600) ));
  line-height: calc( 35px + (48 - 35) * ( (100vw - 600px) / ( 1300 - 600) ));
}


html {}

body {}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 3.38461954rem;
  line-height: calc( 2 * calc( 35px + (48 - 35) * ( (100vw - 600px) / ( 1300 - 600))));
  padding-top: 2rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 2.2692308rem;
  line-height: calc( 1.5 * calc( 35px + (48 - 35) * ( (100vw - 600px) / ( 1300 - 600))));
  padding-top: 2rem;
  padding-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  line-height: calc( 1.2 * calc( 35px + (48 - 35) * ( (100vw - 600px) / ( 1300 - 600))));
  padding-top: 2rem;
  padding-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  line-height: calc( 1 * calc( 35px + (48 - 35) * ( (100vw - 600px) / ( 1300 - 600))));
  padding-top: 2rem;
  padding-bottom: 1rem;
}

p, ul, ol, table, blockquote {
  margin: 0;
}


ul ul, ol ol, ul ol, ol ul {
  margin: 0 1rem;
}

/* Let's make sure all's aligned */
hr {
  border: 1px solid;
  margin: -1px 0;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

p + p {
  text-indent: 1.5rem;
}
