@import "../utils/base_colors";

@mixin basic-button {
  border: none;
  outline: none;
  color: $button-text;
  padding: .5rem;
  border-radius: .55rem;
  transition: background-color .3s ease;
  min-width: 6rem;
  text-align: center;
  text-decoration: none;
}


a.button-link {
  text-decoration: none !important;

  button[type='button'] {
    color: $button-text;
    text-decoration: none;
    transition: color .3s ease;

    &:hover {
      text-decoration: none;
      color: $button-text-hover;
    }
  }
}

.blue-button {
  @include basic-button;
  background-color: $nw-blue;

  &:hover {
    background-color: lighten( $nw-blue, 5% );
  }
}

.orange-button {
  @include basic-button;
  background-color: $orange;

  &:hover {
    background-color: darken( $orange, 5% );
  }
}

.red-button {
  @include basic-button;
  background-color: $red;

  &:hover {
    background-color: darken( $red, 5% );
  }
}

.green-button {
  @include basic-button;
  background-color: $green;

  &:hover {
    background-color: lighten( $green, 5% );
  }
}


.nav-buttons {
  padding: 1.5rem 0;

  .prev {
    float: left;
  }
  .next {
    padding-left: 1.5rem;
  }
}
