@import "../utils/base_colors";

.definition-list {
  position: relative;
  padding: 1rem 0;

  span {
    float: right;
    z-index: 20;
    font-weight: bold;
    position: absolute;
    right: 1rem;
    top: 2.3rem;
  }

  dt {
    background-color: $light-gray;
    padding: .34rem;
    color: $nw-blue;
    font-weight: 500;
    position: relative;
    transition: background-color, color .4s ease;
    border-bottom: .1rem $definition-border solid;
    font-family: 'Roboto Condensed', sans-serif;

    &:hover {
      background-color: darken($light-gray, 5%);
      color: lighten($nw-blue, 10%);
    }

  }

  dd {
    font-weight: 500;
    opacity: 0;
    height: 0;
    transition: padding .4s ease;
    -webkit-margin-start: .5rem;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;

    &.show-data-definition {
      padding: .5rem 0 1rem 0;
      opacity: 1;
      height: 100%;
    }
  }
}
