@import "../utils/base_colors";

.definition-list {

  header {
    h3 {
      float: left;
      padding: 0 1rem 0 0;
    }

    h4 {
      padding: 0;
      float: left;
      font-size: 1.173913rem;
      line-height: 1.6521739rem;
    }
  }


  dt {
    background-color: $light-gray;
    padding: .34rem;
    color: $nw-blue;
    font-weight: 500;
    position: relative;
    transition: background-color, color .4s ease;
    border-bottom: .1rem $definition-border solid;

    &:hover {
      background-color: lighten($light-gray, 5%);
      color: lighten($nw-blue, 10%);
    }

  }

  dd {
    font-weight: 500;
    opacity: 0;
    height: 0;
    transition: padding .4s ease;
    -webkit-margin-start: .5rem;
    position: relative;

    &.show-data-definition {
      padding: .5rem 0 1rem 0;
      opacity: 1;
      height: 100%;
    }
  }
}
