@import "../utils/base_colors";

ul.list-links {

  li {}

  a {
    color: $nw-blue;
    transition: color 4s ease;

    &:hover {
      color: $primary-hover;
    }
  }
}

ul.checkbox-list {
  list-style: none;

  input[type='checkbox'] {
    height: 20px;
    width: 20px;
    position: relative;
  }
}
