
@import "../utils/base_colors";

table {
  border-collapse: collapse;
  width: 100%;


  thead {
    background: $light-gray;
    font-weight: 500;

    td {
      padding: .55rem;
    }

    tr {
      border-bottom: .1rem solid $nw-blue;
    }

  }

  tbody {

    font-weight: 400;

    td {
      padding: .55rem;
    }

    tr {
      border-bottom: .1rem solid $nw-blue;

      &:last-child {
        border-bottom: none;
      }

      a {
        text-decoration: underline;
        color: $black;
        transition: color .4s ease;

        &:hover {
          color: $nw-blue;
        }
      }
    }
  }
}
