@import "../utils/base_colors";


.tabs {

  ul.tab-links {
    list-style: none;
    margin: 0;
    // padding: .55rem;
    background-color: $light-gray;
    font-weight: 500;
    border-bottom: .1rem solid $nw-blue;

    li {
      display: inline;
      float: left;
      padding: .56rem !important;
      // border-right: .1rem solid $black;
      transition: .2s ease;
      color: $nw-blue;
      // background-color: gray;

      &:hover {
        background-color: darken($light-gray, 10%);
        color: $black;
      }
    }
  }

  .tab-content-container {

    padding: .56rem !important;


    .tab-content {
      display: none;
    }

    .active-tab {
      display: block;
    }

  }

}
