@import "../utils/base_colors";


.tabs {
  position: relative;
  padding: 1.5rem 0;

  ul.tab-links {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
    border-bottom: .1rem solid $tab-border;

    li {
      display: inline;
      float: left;
      padding: .50rem !important;
      border-right: .1rem solid $tab-border;
      color: $black;
      background-color: lighten($light-gray, 5%);
      transition: background-color, color .2s ease;
      font-family: 'Roboto Condensed', sans-serif;

      &:last-child {
        border-right: none;
      }


      &:hover {
        background-color: $tab-hover;//darken($light-gray, 1%);
        color: $nw-blue;
      }
    }
  }

  .tab-content-container {

    .tab-content {
      display: none;
      transition: color, background-color .4s ease;
      padding: .5rem;
    }

    .active-tab {
      display: block;
    }
  }
}

.active-tab-link {
  color: $nw-blue !important;
  background-color: $tab-hover !important;
}
