
@import "../utils/base_colors";

table {
  margin: 1.5rem 0;
  border-collapse: collapse;
  width: 100%;

  thead {
    background: $light-gray;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;

    td {
      padding: .55rem;
    }

    tr {
      border-bottom: .1rem solid $nw-blue;
    }
  }

  tbody {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;

    td {
      padding: .55rem;
    }

    tr {
      border-bottom: .1rem solid $nw-blue;

      &:last-child {
        border-bottom: none;
      }

      a {
        text-decoration: underline;
        color: $black;
        transition: color .4s ease;

        &:hover {
          color: $nw-blue;
        }
      }
    }
  }
}
