@import "../utils/base_colors";


.tabs {

  ul.tab-links {
    list-style: none;
    margin: 0;
    background-color: $light-gray;
    font-weight: 500;
    border-bottom: .1rem solid $nw-blue;

    li {
      display: inline;
      float: left;
      padding: .50rem !important;
      border-right: .1rem solid $nw-blue;
      color: $nw-blue;
      transition: .2s ease;

      &:hover {
        background-color: darken($light-gray, 10%);
        color: $black;
      }
    }
  }

  .tab-content-container {

    padding: .56rem !important;


    .tab-content {
      display: none;
    }

    .active-tab {
      display: block;
    }

  }
}

.active-tab-link {
  color: $black !important;
  background-color: darken($light-gray, 10%);
}
