@import "../utils/base_colors";

a {
  text-decoration: none;
  color: $nw-blue;
  transition: color, text-decoration .4s ease;

  &:hover {
    text-decoration: underline;
    color: $primary-hover;
  }
}


article {

  h1 {

  }

  h2 {

  }

  p {


    a {
      color: $inline-link;
      text-decoration: underline;
      transition: text-decoration, color .4s ease;

      &:hover {
        color: $secondary-hover;
        text-decoration: underline;
      }
    }
  }
}
