<!doctype html>

<html lang="en">

  {% include head.html %}

<body>

  <section class="container">

    <section class="grid-row">
      {% include nav.html %}
    </section>

    <section class="grid-row" id="menu">
      {% include menu.html %}
    </section>

    <section class="grid-row" id="search-results">
      {% include search-results.html %}
    </section>

    <section class="grid-row">
      {% include content.html %}
    </section>

  </section>
</body>
<script type="text/javascript">


</script>
</html>
